/* MAPS */
/* EXTEND */
/* MIXIN */
.logo {
  width: 150px; }

.navbar-toggler {
  margin-right: 20px; }

.letras li {
  margin: 14px;
  border: solid 1px green; }

.letras li {
  transition: transform 0.8s; }

.letras li:hover {
  transform: scale(1.2); }

.nav-link {
  font-size: 24px; }

@media only screen and (min-width: 500px) {
  .logo {
    margin-left: 50px; } }

@media only screen and (min-width: 850px) {
  .logo {
    margin-left: 50px; }
  .navbar-toggler {
    margin-right: 50px; } }

footer {
  background-color: green;
  height: 60px; }
  footer .container {
    text-align: left;
    position: relative;
    width: 80%;
    max-width: 1080px;
    margin: auto; }
    footer .container .redes {
      display: flex;
      justify-content: space-evenly;
      padding: 15px 0; }
      footer .container .redes .ubi-footer {
        font-size: 15px; }
      footer .container .redes .logos {
        color: black; }

main .mainContent {
  margin: 40px auto;
  display: grid; }
  main .mainContent .d-block {
    height: 800px; }

main .numeros {
  float: left;
  padding-left: 3rem;
  margin-left: 30px; }
  main .numeros .lista-numeros .titulo {
    font-size: 24px;
    float: left; }
  main .numeros .lista-numeros .lista-estilo {
    list-style: none;
    font-size: 20px; }
    main .numeros .lista-numeros .lista-estilo .numero-de-telefono {
      color: black;
      font-size: large; }

main p .parrafoLorem15 {
  display: flex;
  direction: column;
  justify-content: space-evenly;
  align-items: center; }

main input {
  height: 20px;
  transition: all 2s; }

main input:focus {
  height: 25px; }

@media only screen and (max-width: 600px) {
  .d-block {
    height: 500px; } }

@media only screen and (max-width: 450px) {
  .d-block {
    height: 350px; } }

@media only screen and (min-width: 600px) {
  .d-block {
    height: 800px; } }

body {
  min-height: 100vh;
  font: normal 16px sans-serif;
  padding: 0; }
  body .container.gallery-container {
    color: #35373a;
    min-height: 100vh;
    border-radius: 20px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06); }
  body .gallery-container h1 {
    text-align: center;
    margin-top: 70px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold; }
  body .gallery-container p.page-description {
    text-align: center;
    max-width: 800px;
    margin: 25px auto;
    color: #888;
    font-size: 18px; }
  body .tz-gallery {
    padding: 40px; }
  body .tz-gallery .lightbox img {
    width: 100%;
    margin-bottom: 30px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2); }
  body .tz-gallery .lightbox img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3); }
  body .tz-gallery img {
    border-radius: 4px; }

@media only screen and (max-width: 768px) {
  body {
    padding: 0; }
  .container.gallery-container {
    border-radius: 0; } }

.noticia {
  margin: 20px auto;
  padding: 15px; }
  .noticia .izquierda {
    float: left;
    margin-right: 15px; }
  .noticia .reset {
    clear: both; }
  .noticia .texto5 {
    align-items: center; }
