
.cabecera__navegacion__lista li{
   display: inline-flex;
   margin: 15px;
   border: solid 1px green;
   padding: 15px;
   justify-content: center
}
.cabecera__navegacion__lista li:hover{
    transform: scale(1.3);
}
.cabecera__navegacion__lista li{
    transition: transform 0.8s;
}
.cabecera{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 300px;
}
nav{
    display: inline-block;
    width: fit-content;
}


a {
    text-decoration: none;
    color: black
}

.foto2{
    width: 600px;
    height: 400px;
    
    
}
.foto1{
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.parrafoL{
    font-size: 16px;
    margin-left: 15%;
    font-style: oblique;
 
    
}
.parrafoLorem15{
    text-align: center;
}
.textoEnriquecido{
    font-size: 32px;
    font-weight: 700;
    font-style: italic;
}
.textoAlineado{
    display: flex;
    flex-direction: row;
    align-items:  center;
}
footer{
    background-color: green;
}

.cabecera__navegacion__lista2 li{
    display: inline-flex;
   margin: 15px;
   border: solid 1px black;
   padding: 15px;
   justify-content: center
}
.cabecera__navegacion__lista2 li:hover{
    transform: scale(1.3);
}
.cabecera__navegacion__lista2 li{
    transition: transform 0.8s;
}
.cabecera2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.redes{
    text-align: right;
    margin-right: 30px;
   padding-top: 50px;
   list-style: none;
display: flex;
justify-content: space-between;
width: 40%;
margin: auto;
}

labul {
    display: block;
    margin: .5em 0 0 0;
    width: 40%;
  }
  
  @media only screen and (min-width: 768px) {
}
.mainContent{
 margin: 40px auto;
 display: grid;
}

input{
    height: 20px;
    transition: all 2s;
}
input:focus{
    height: 25px;
}
.carrusel{
    width: 100%;
    margin: 0px;
    padding: 0px
    background-image: url()
    animation-name: carrusel;
    animation-interation-count: infinite;
    animation-duration: 20s;
}

@keyframes carrusel {
    
}