.noticia {
    margin: 20px auto;
    padding: 15px;

    .izquierda {
        float: left;
        margin-right: 15px;
    }

    .reset {
        clear: both;
    }

    .texto5 {

        align-items: center;
    }
}