.logo{
        width: 150px;  
    }   

 .navbar-toggler{
    margin-right: 20px;
} 

.nav-link{
    font-size: 24px;
}
    .letras li{
margin: 14px;
border: solid 1px green;
}  

 .letras li:hover{
    transform: scale(1.2);
}

.letras li{
    transition: transform 0.8s;
} 
 .d-block{
    height: 800px ;
 }
.mainContent{
 margin: 40px auto;
 display: grid;
}

/* .logos{
    color: black;
} */


 @media only screen and (max-width: 600px) {
    .d-block{
        height: 500px;
    }
   
}

 @media only screen and (max-width: 450px) {
        .d-block{
            height: 350px;
        }
        
    }

 @media only screen and (min-width: 600px) {
    .d-block{
        height: 800px;
    }
  }   

 @media only screen and (min-width: 500px) {
    .logo{
        margin-left: 50px;
    }
}
@media only screen and (min-width: 400px) {
   .navbar-toggler{

   }
}